body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  height: 70px;
}
#pageLogo {
  font-family: "Montez", cursive;
  font-size: 40px;
  color: blue;
  padding: 0px 10px;
  margin: 0px;
}
.logo-details {
  float: left;
}
.centralText {
  font-family: "Ubuntu Mono", monospace;
  position: absolute;
  top: 60px;
  left: 20px;
  margin: 0px;
}
button.logButtons {
  float: right;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-clear {
  clear: both;
}
.modal {
  position: fixed; /* Sit on top of the page content */
  /* display: none; Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(8, 4, 4, 0.65); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  /* cursor: pointer; Add a pointer on hover */
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 40%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  max-width: 400px;
}
button.logButtons {
  width: 90px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 90%;
  background: #0000ff;
  color: #fff;
  float: right;
  margin: 10px 10px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.gray-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rbga(0, 0, 0, 0.8);
}
.form-group {
  width: 100%;
  margin: 20px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-group > h3 {
  font-weight: 300;
}
.form-group > label {
  display: block;
  margin: 5px;
  font-size: 16px;
}
.form-group > input {
  margin: 5px;
  display: block;
  width: 95%;
  border: none;
  background-color: rgba(255, 228, 196, 0.2);
  padding: 10px;
  height: 20px;
  font-size: 12px;
}
.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#modal-signup {
  display: none;
}

#modal-signin {
  display: none;
}

.form-group > small {
  font-weight: bold;
  padding: 10px;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  border: 1px red solid;
  display: block;
  text-align: center;
  box-sizing: border-box;
}

.form-group > small > a {
  text-decoration: none;
}

.form-group > small > a:hover {
  text-decoration: underline;
}

.form-group > small > a:visited {
  color: #0000ff;
  text-decoration: underline;
}
.container {
  width: 100%;
  border: ;
}

.postButtons {
  color: yellow;
}
